body {
    display: inline-grid;
    width: 1440px;;
    background-color: #F6DBD6;
    font-family: 'Metta Dahlia';
    grid-template-columns: repeat (12 1fr);
    margin: 0;
}

.navbar {
    display: inline-grid;
    background-color: #f06dab;
    color: white;
    font-family: 'Metta Dahlia';
    width: 1440px;;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 3px solid white;
    }
    

.navbar-header {
    font-size: 50px;
    color: white;
    justify-items: start;
    grid-column: 1 / span 2;
    padding-left: 20px;
}

.menu {
    grid-column: 9 / span 4;
    justify-items: center;
    font-size: 28px;
    text-decoration-style: none;
    color: white;
    padding-top: 15px;
    
}

.projects-text {
    color: black;
    z-index: 2;
    width: 350px;
    font-size: 25px;
    position: absolute;
    padding-top: 550px;
    text-align: center;
    margin: auto;
    
}

.text {
    color: black;
    z-index: 2;
    width: 500px;
    font-size: 25px;
    position: absolute;
    padding-top: 650px;
    text-align: center;
    margin: auto;
    padding-left: 480px; 
}

.project-links {
    list-style-type: none;
}

.profile-text {
    color: black;
    z-index: 2;
    width: 600px;
    font-size: 25px;
    position: absolute;
    padding-top: 550px;
    text-align: center;
    margin: auto;
    padding-left: 400px;
}

.skill-icons {
    list-style-type: none;
    text-align: center;
}

.contact-icons {
    list-style-type: none;
    text-align: center;
}

.contact-text {
    font-family: 'Metta Dahlia';
    font-size: 25px;
    margin-bottom: 15px;

}

.skills-text {
    color: black;
    z-index: 4;
    width: 350px;
    font-size: 25px;
    position: absolute;
    padding-top: 550px;
    text-align: right;
    margin: auto;
    padding-left: 1100px;
    
}

.sub-header {
    font-size: 45px;
    text-align: center;
    color: #F28383;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

#me {
    font-size: 45px;
    text-align: center;
    color: #F28383;
    margin-top: 570px;
    margin-bottom: 10px;
    padding-bottom: 0px; 
    padding-left: 600px; 
    z-index: 3;
    position: absolute;
    
}

#kiaora {
    color: black;
    z-index: 3;
    width: 350px;
    font-size: 25px;
    position: absolute;
    padding-top: 640px;
    text-align: center;
    margin: auto;
    padding-left: 530px;
}

#text {
    color: black;
    z-index: 3;
    width: 350px;
    font-size: 25px;
    position: absolute;
    padding-top: 660px;
    text-align: right;
    margin: auto;
    padding-left: 410px;

}

.profile-image {
    position: absolute;
    width: 1440px;
    height: auto;
    z-index: 1;
    border-bottom: 3px solid white;
}

.fa-brands {
    padding-right: 50px;
}


#contact {
    width: 1440px;
    margin: auto;
    color: black;
    padding-top: 1050px;
}

.footer-text {
    display: inline-grid;
    font-family: 'Metta Dahlia';
    font-size: 25px;
    color: white;
    margin-left: 8px;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer {
    background-color: #F06DAB;
    width: 1440px;
    border-top: 3px solid white;
}